<h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p>

<% @evacuations.each do |e|%>
    <%= e.evac %>
    <%= e.address %>
    <%= e.earthquake %>
    <%= e.tsunami %>
    <%= e.flood %>
    <%= e.surge %>
    <%= e.landslide %>
    <%= e.fire %>
    <%= e.inlandwaters %>
<% end %>
